# Переменные окружения для продакшн
# Скопируйте этот файл в .env.production и измените значения

NODE_ENV=production
REACT_APP_ENV=production
REACT_APP_API_URL=http://109.205.212.29
REACT_APP_WS_URL=ws://109.205.212.29

# Настройки сервера
PORT=3000
SERVER_PORT=3001
